.main__form{
  color: rgb(255, 255, 255);
  display: inline-block;
  width: 80vw;
  height: 68vh;
  min-height: 610px;
  background-color: #00668f ;
  border-radius: 22px;
  padding: 12px 20px;
}
.form__title{
  margin: 8px;
  font-size: 2rem;
  color: azure;
  text-align: center;
}
.form__paragraph{
  color: azure;
  text-align: center;
  margin: 0 0 12px 0;
}
.form__container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
}
.form__content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: auto;
}
.form__content div{
  width: 50%;

  min-width: 200px;
}
.content{
  width: 50%;
}
.box__form{
  border: none;
 height: 50px;
 width: 90%;
 min-width: 200px;
 color: rgb(116, 116, 116);
 margin-top: 6px;
 padding:12px;
}
.hover{
  transition:  0.3s linear;
}
.hover:hover{
background-color: #00f0c4;

}
.box__form--text{
  height: 170px;
  width: 90%;
  min-width: 200px;
}
.box__form--upload{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}
.text__area{
  padding: 12px;
  height: 90%;
  resize: none;
}
.outline:focus{
 outline: 2px solid #00f0c4;

}
fieldset{
  border: none;
}
hr{
  margin: 12px 0
}
input[type="checkbox"],input[type="radio"] {
  cursor: pointer;
  margin: 6px 0;
}
label{
  margin: 12px
}
#yourBtn {
  color: rgb(117, 117, 117);
  padding: 10px;
  border-radius: 12px;
  text-align: center;
  background-color: #ffffff;
  cursor: pointer;
  margin: 12px 0 12px 0;
}
#yourBtn:hover{
  background-color: #00f0c4;
}
.send{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 16px;
}
.submit{
  padding: 10px;
  text-align: center;
  background-color: #00f0c4;
  font-size: 2rem;
  width: 200px;
  height: 60px;
  margin: 62px 0 0 0;
  border: none;
  cursor: pointer;
}

.border-radius{
  border-radius: 16px;
}


@media screen and (max-width: 768px) {
  .main__form{
    width: 90vw;
    height: max-content;
    padding: 0 20px 40px 20px;
  }
  .box__form--upload{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  
}
@media screen and (max-width: 489px) {

  .form__content div{
    width: 90%;
  
    min-width: 200px;
  }
}
